{{!< default}}

<header class="site-header">
  <div class="outer site-nav-main">
    <div class="inner">
      {{> "site-nav"}}
    </div>
  </div>
</header>

{{#post}}

<main id="site-main" class="site-main outer" role="main">

  <div class="inner">
<div class="section-bg-heading" style="padding-top:50px;">
    <h2 class="text-center page-heading page-heading-title" > <img src="/ue-media/homeicons/path5875.png"> Every Tag on Utopia Educators</h2>
</div>
<div class="outer">
    <div class="inner posts">
        <div class="tags-wrap">
            {{#get 'tags' limit='all' include='count.posts' order='count.posts desc'}}
                {{#foreach tags}}
                  {{> card-tag }}
                {{/foreach}}
            {{/get}}
        </div>
    </div>
</div>

  </div>
</main>

{{/post}}
